<!DOCTYPE html>

<!-- # Data Representation
# Lecturer: Andrew Beatty
# Author: David Ryan
# Student ID: G00398318 -->

<html>
    <head>
        <title> View URLs</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- https://stackoverflow.com/questions/22259847/application-not-picking-up-css-file-flask-python -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
      </head>


    <div class="container">
      <!--Heading 1 for the sections styled with CSS in class "text-center" -->
      <h1 class="container">URL DB</h1>
      <div class="wrapper">
          <p>
              <a href="check.html" class="linktext">URLStatus</a> 
              <!-- <a href="dashboard2.html" class="linktext">PieChart</a>  
              <a href="uploader.html" margin-left: 10px;>Uploader</a>  -->
              <!-- pythonanywhere.com  
              <a href="/" class="linktext">LogOut</a> -->
              <a href="http://127.0.0.1:5000/logout" class="linktext">LogOut</a> 
          </p>
      </div>
    </div>


    <body>
        <div>
            <table class="table" id="urlTable">
                <tr>
                        <th>id</th>
                        <th>URL</th>
                        <th>Type</th>
                        <th>Score</th>
                        <th>Update</th>
                        <th>Delete</th>
                        <th>Check</th>
                </tr>
                
            </table>
        </div>
    </body>
