<!DOCTYPE html>
<html>
    <head>
        <title> View URLs</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- https://stackoverflow.com/questions/22259847/application-not-picking-up-css-file-flask-python -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
      </head>


    <div class="container">
      <!--Heading 1 for the sections styled with CSS in class "text-center" -->
      <h1 class="container">URL DB</h1>
      <div class="wrapper">
          <p>
              <a href="check.html" class="linktext">URLStatus</a> 
              <!-- <a href="dashboard2.html" class="linktext">PieChart</a>  
              <a href="uploader.html" margin-left: 10px;>Uploader</a>  -->
              
              <!-- pythonanywhere.com  
              <a href="/" class="linktext">LogOut</a> -->
              <a href="http://127.0.0.1:5000/logout" class="linktext">LogOut</a> 
          </p>
      </div>
    </div>


    <body>
        <div> <button class="button" id="showCreateButton" onclick="showCreate()">Create</button></div>
        <div>
            <table class="table" id="urlTable">
                <tr>
                        <th>id</th>
                        <th>URL</th>
                        <th>Type</th>
                        <th>Score</th>
                        <th>Update</th>
                        <th>Delete</th>
                        <th>Check</th>
                </tr>
                
            </table>
        </div>
        <div id='createUpdateForm' style="display: none">
                <h2 class="container"><span id="createLabel">Create a</span> <span id="updateLabel">update</span> URL Link</h2>
                <input  type="hidden" name="id"/>
                <input class="input" type="text" name="URL" placeholder="URL" /><br/>
                <select class="select" id="type" name="Type" >
                          <option value="Email">Email</option>
                          <option value="PDF">PDF</option>
                          <option value="Word">Word</option>
                          <option value="excel">Excel</option>
                          <option value=""></option>
                      </select>
                <br>

                <select class="select" id="score" name="Score">
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                      <option value="50">50</option>
                  </select>
                <br>
                
                <span><button id="doCreateButton" class="button" onclick="doCreate()">Create</button></span>
                <span><button id="doUpdateButton" class="button"onclick="doUpdate()">Update</button></span>
        </div>
    </body>
    <script>
    
    function showCreate(){
        document.getElementById('showCreateButton').style.display="none"
        document.getElementById('urlTable').style.display="none"
        document.getElementById('createUpdateForm').style.display="block"

        document.getElementById('createLabel').style.display="inline"
        document.getElementById('updateLabel').style.display="none"

        document.getElementById('doCreateButton').style.display="block"
        document.getElementById('doUpdateButton').style.display="none"

    }

    function showViewAll(){
        document.getElementById('showCreateButton').style.display="block"
        document.getElementById('urlTable').style.display="block"
        document.getElementById('createUpdateForm').style.display="none"
    }

    function showUpdate(buttonElement){
        document.getElementById('showCreateButton').style.display="none"
        document.getElementById('urlTable').style.display="none"
        document.getElementById('createUpdateForm').style.display="block"

        document.getElementById('createLabel').style.display="none"
        document.getElementById('updateLabel').style.display="inline"

        document.getElementById('doCreateButton').style.display="none"
        document.getElementById('doUpdateButton').style.display="block"


        var rowElement = buttonElement.parentNode.parentNode
        // these is a way of finding the closest <tr> which would safer, closest()
        
        var url = getURLFromRow(rowElement)
        populateFormWithURL(url)
    }

    function doCreate(){
        var form = document.getElementById('createUpdateForm')

        var url = {}
       
        url.URL = form.querySelector('input[name="URL"]').value
        url.Type = form.querySelector('select[name="Type"]').value
        url.Score = form.querySelector('select[name="Score"]').value
        console.log(JSON.stringify(url))
        createURLAjax(url)       
    }

    function doUpdate(){
        var url = getURLFromForm();
        var rowElement = document.getElementById(url.id);
        updateURLAjax(url);
        setURLInRow(rowElement,url);
       
        clearForm();
        showViewAll();
    }

    function doCheck(r){
        var tableElement = document.getElementById('urlTable');
        var rowElement = r.parentNode.parentNode;
        var index = rowElement.rowIndex;
        checkURLAjax(rowElement.getAttribute("id"));
    }

    function doDelete(r){
        var tableElement = document.getElementById('urlTable');
        var rowElement = r.parentNode.parentNode;
        var index = rowElement.rowIndex;
        deleteURLAjax(rowElement.getAttribute("id"));
        tableElement.deleteRow(index);
    }

    function addURLToTable(url){
        var tableElement = document.getElementById('urlTable')
        var rowElement = tableElement.insertRow(-1)
        rowElement.setAttribute('id',url.id)
        var cell1 = rowElement.insertCell(0);
        cell1.innerHTML = url.id
        var cell2 = rowElement.insertCell(1);
        cell2.innerHTML = url.URL
        var cell3 = rowElement.insertCell(2);
        cell3.innerHTML = url.Type
        var cell4 = rowElement.insertCell(3);
        cell4.innerHTML = url.Score
        var cell5 = rowElement.insertCell(4);
        cell5.innerHTML = '<button class="button" onclick="showUpdate(this)">Update</button>'
        var cell6 = rowElement.insertCell(5);
        cell6.innerHTML = '<button class="button" onclick=doDelete(this)>Delete</button>'
        var cell7 = rowElement.insertCell(6);
        cell7.innerHTML = '<button class="button" onclick=doCheck(this)>Check</button>'

    }

    function clearForm(){
        var form = document.getElementById('createUpdateForm')

        form.querySelector('input[name="URL"]').value=''
        form.querySelector('select[name="Type"]').value=''
        form.querySelector('select[name="Score"]').value=''
    }

    function getURLFromRow(rowElement){
        var car ={}
        url.id  = rowElement.getAttribute('id')
        url.URL = rowElement.cells[1].firstChild.textContent
        url.Type = rowElement.cells[2].firstChild.textContent
        url.Score = parseInt(rowElement.cells[3].firstChild.textContent,10)
        return url
    }

    function setURLInRow(rowElement, url){
        rowElement.cells[0].firstChild.textContent= url.id  
        rowElement.cells[1].firstChild.textContent= url.URL 
        rowElement.cells[2].firstChild.textContent= url.Type
        rowElement.cells[3].firstChild.textContent= url.Score
    }

    function populateFormWithURL(url){
        var form = document.getElementById('createUpdateForm')
        form.querySelector('input[name="id"]').disabled = true
        form.querySelector('input[name="id"]').value  = url.id
        form.querySelector('input[name="URL"]').value = url.URL
        form.querySelector('select[name="Type"]').value = url.Type
        form.querySelector('select[name="Score"]').value = url.Score
        return url
    }

    function getURLFromForm(){
        var form = document.getElementById('createUpdateForm')
        var url = {}
        url.id = form.querySelector('input[name="id"]').value
        url.URL = form.querySelector('input[name="URL"]').value
        url.Type = form.querySelector('select[name="Type"]').value
        url.Score = parseInt(form.querySelector('select[name="Score"]').value,10)
        console.log(JSON.stringify(url))
        return url
    }

    function getAllAjax(){
        $.ajax({
            // pythonanywhere.com  
            // "url": "/urls",
            "url": "http://127.0.0.1:5000/urls",
            "method":"GET",
            "data":"",
            "dataType": "JSON",
            "success":function(result){
                //console.log(result);
                for (url of result){
                    addURLToTable(url);
                }
                
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });

    }


    function createURLAjax(url){
        console.log(JSON.stringify(url));
        $.ajax({
            // pythonanywhere.com  
            // "url": "/urls",
            "url": "http://127.0.0.1:5000/urls",
            "method":"POST",
            "data":JSON.stringify(url),
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success":function(result){
                //console.log(result);
                url.id = result.id
                addURLToTable(url)
                clearForm()
                showViewAll()
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }


    function updateURLAjax(url){
        console.log(JSON.stringify(url));
        $.ajax({
            // pythonanywhere.com  
            // "url": "/urls/"+encodeURI(url.id),
            "url": "http://127.0.0.1:5000/urls/"+encodeURI(url.id),
            "method":"PUT",
            "data":JSON.stringify(url),
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success":function(result){
               // console.log(result);
                  
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }

    function checkURLAjax(id){
        $.ajax({
            // pythonanywhere.com  
            // "url": "/check/"+encodeURI(id),
            "url": "http://127.0.0.1:5000/check/"+encodeURI(id),
            "method":"GET",
            "data":"",
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success":function(result){
                console.log(result);
                  
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }
    
    function deleteURLAjax(id){
        $.ajax({
            // pythonanywhere.com  
            // "url": "/urls/"+encodeURI(id),
            "url": "http://127.0.0.1:5000/urls/"+encodeURI(id),
            "method":"DELETE",
            "data":"",
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success":function(result){
                //console.log(result);
                  
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }
    getAllAjax();
    
    </script>
</html>