<!DOCTYPE html>

<!-- # Data Representation
# Lecturer: Andrew Beatty
# Author: David Ryan
# Student ID: G00398318 -->

<html>
    <head>
        <title> View URLs</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- https://stackoverflow.com/questions/22259847/application-not-picking-up-css-file-flask-python -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
      </head>


    <div class="container">
      <!--Heading 1 for the sections styled with CSS in class "text-center" -->
      <h1 class="container">URL DB</h1>
      <div class="wrapper">
          <p>
              <a href="check.html" class="linktext">URLStatus</a> 
              <!-- pythonanywhere.com  
              <a href="/" class="linktext">LogOut</a> -->
              <a href="http://127.0.0.1:5000/logout" class="linktext">LogOut</a> 
          </p>
      </div>
    </div>


    <body>
        <div> <button class="button" id="showCreateButton" onclick="showCreate()">Create</button></div>
        <div>
            <table class="table" id="urlTable">
                <tr>
                        <th>id</th>
                        <th>URL</th>
                        <th>Type</th>
                        <th>Score</th>
                        <th>Update</th>
                        <th>Delete</th>
                        <th>Check</th>
                </tr>
                
            </table>
        </div>
        <div id='createUpdateForm' style="display: none">
                <h2 class="container"><span id="createLabel">Create a</span> <span id="updateLabel">update</span> URL Link</h2>
                <input  type="hidden" name="id"/>
                <input class="input" type="text" name="URL" placeholder="URL" /><br/>
                <select class="select" id="type" name="Type" >
                          <option value="Email">Email</option>
                          <option value="PDF">PDF</option>
                          <option value="Word">Word</option>
                          <option value="excel">Excel</option>
                          <option value=""></option>
                      </select>
                <br>

                <select class="select" id="score" name="Score">
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                      <option value="50">50</option>
                  </select>
                <br>
                
                <span><button id="doCreateButton" class="button" onclick="doCreate()">Create</button></span>
                <span><button id="doUpdateButton" class="button"onclick="doUpdate()">Update</button></span>
        </div>
    </body>
    <script>
    
    // The showCreate function hides the showCreateButton and urlTable elements and displays the createUpdateForm element, as well as updating the labels and buttons for creating a new URL. 
    function showCreate(){
        document.getElementById('showCreateButton').style.display="none"
        document.getElementById('urlTable').style.display="none"
        document.getElementById('createUpdateForm').style.display="block"

        document.getElementById('createLabel').style.display="inline"
        document.getElementById('updateLabel').style.display="none"

        document.getElementById('doCreateButton').style.display="block"
        document.getElementById('doUpdateButton').style.display="none"

    }

    // The showViewAll function does the opposite, showing the showCreateButton and urlTable elements and hiding the createUpdateForm element. 
    function showViewAll(){
        document.getElementById('showCreateButton').style.display="block"
        document.getElementById('urlTable').style.display="block"
        document.getElementById('createUpdateForm').style.display="none"
    }

    // The showUpdate function is similar to showCreate, but it is used when updating an existing URL rather than creating a new one. It also populates the form with the data from the selected URL by calling the populateFormWithURL function. The getURLFromRow function is used to extract the URL data from a row in the table and return it as an object.
    function showUpdate(buttonElement){
        document.getElementById('showCreateButton').style.display="none"
        document.getElementById('urlTable').style.display="none"
        document.getElementById('createUpdateForm').style.display="block"

        document.getElementById('createLabel').style.display="none"
        document.getElementById('updateLabel').style.display="inline"

        document.getElementById('doCreateButton').style.display="none"
        document.getElementById('doUpdateButton').style.display="block"


        var rowElement = buttonElement.parentNode.parentNode
        // these is a way of finding the closest <tr> which would safer, closest()
        
        var url = getURLFromRow(rowElement)
        populateFormWithURL(url)
    }
    // The doCreate() function retrieves values from an HTML form with the id attribute "createUpdateForm" and creates a new URL in the database using an Ajax request.
    function doCreate(){
        var form = document.getElementById('createUpdateForm')

        var url = {}
       
        url.URL = form.querySelector('input[name="URL"]').value
        url.Type = form.querySelector('select[name="Type"]').value
        url.Score = form.querySelector('select[name="Score"]').value
        console.log(JSON.stringify(url))
        createURLAjax(url)       
    }

    // The doUpdate() function updates an existing URL in the database using an Ajax request. It retrieves the URL data from the form and updates the corresponding row in the table.
    function doUpdate(){
        var url = getURLFromForm();
        var rowElement = document.getElementById(url.id);
        updateURLAjax(url);
        setURLInRow(rowElement,url);
       
        clearForm();
        showViewAll();
    }
    
    // The doCheck() function sends an Ajax request to check a URL in the database. It gets the URL data from the row that the user clicked.
    function doCheck(r){
        var tableElement = document.getElementById('urlTable');
        var rowElement = r.parentNode.parentNode;
        var index = rowElement.rowIndex;
        console.log(tableElement)
        console.log(rowElement)
        console.log(index)
        checkURLAjax(rowElement.getAttribute("id"));
    }

    // The doDelete() function deletes a URL from the database using an Ajax request. It removes the corresponding row from the table.
    function doDelete(r){
        var tableElement = document.getElementById('urlTable');
        var rowElement = r.parentNode.parentNode;
        var index = rowElement.rowIndex;
        deleteURLAjax(rowElement.getAttribute("id"));
        tableElement.deleteRow(index);
    }

    // The addURLToTable() function adds a new row to the table with the id attribute "urlTable". It sets the id attribute of the row to the id of the URL, and inserts cells with the URL data. It also adds buttons for updating, deleting, and checking the URL.
    function addURLToTable(url){
        var tableElement = document.getElementById('urlTable')
        var rowElement = tableElement.insertRow(-1)
        rowElement.setAttribute('id',url.id)
        var cell1 = rowElement.insertCell(0);
        cell1.innerHTML = url.id
        var cell2 = rowElement.insertCell(1);
        cell2.innerHTML = url.URL
        var cell3 = rowElement.insertCell(2);
        cell3.innerHTML = url.Type
        var cell4 = rowElement.insertCell(3);
        cell4.innerHTML = url.Score
        var cell5 = rowElement.insertCell(4);
        cell5.innerHTML = '<button class="button" onclick="showUpdate(this)">Update</button>'
        var cell6 = rowElement.insertCell(5);
        cell6.innerHTML = '<button class="button" onclick=doDelete(this)>Delete</button>'
        var cell7 = rowElement.insertCell(6);
        cell7.innerHTML = '<button class="button" onclick=doCheck(this)>Check</button>'

    }

    // The clearForm() function clears the values in an HTML form with the id attribute "createUpdateForm".
    function clearForm(){
        var form = document.getElementById('createUpdateForm')

        form.querySelector('input[name="URL"]').value=''
        form.querySelector('select[name="Type"]').value=''
        form.querySelector('select[name="Score"]').value=''
    }

    // The getURLFromRow() function retrieves the URL data from a table row. It returns an object with the id, URL, Type, and Score of the URL.
    function getURLFromRow(rowElement){
        var car ={}
        url.id  = rowElement.getAttribute('id')
        url.URL = rowElement.cells[1].firstChild.textContent
        url.Type = rowElement.cells[2].firstChild.textContent
        url.Score = parseInt(rowElement.cells[3].firstChild.textContent,10)
        return url
    }

    // The setURLInRow() function sets the values of a table row to the values of a URL. It takes a row element and a URL object as arguments, and updates the cells of the row with the data from the URL.
    function setURLInRow(rowElement, url){
        rowElement.cells[0].firstChild.textContent= url.id  
        rowElement.cells[1].firstChild.textContent= url.URL 
        rowElement.cells[2].firstChild.textContent= url.Type
        rowElement.cells[3].firstChild.textContent= url.Score
    }

    // The populateFormWithURL() function fills an HTML form with the values of a URL. It takes a URL object as an argument and sets the values of the form elements to the values of the URL.
    function populateFormWithURL(url){
        var form = document.getElementById('createUpdateForm')
        form.querySelector('input[name="id"]').disabled = true
        form.querySelector('input[name="id"]').value  = url.id
        form.querySelector('input[name="URL"]').value = url.URL
        form.querySelector('select[name="Type"]').value = url.Type
        form.querySelector('select[name="Score"]').value = url.Score
        return url
    }

    // The getURLFromForm() function retrieves the values of an HTML form and returns them as a URL object. It reads the values of the form elements and returns an object with the id, URL, Type, and Score of the URL.
    function getURLFromForm(){
        var form = document.getElementById('createUpdateForm')
        var url = {}
        url.id = form.querySelector('input[name="id"]').value
        url.URL = form.querySelector('input[name="URL"]').value
        url.Type = form.querySelector('select[name="Type"]').value
        url.Score = parseInt(form.querySelector('select[name="Score"]').value,10)
        console.log(JSON.stringify(url))
        return url
    }

    // The getAllAjax() function makes an HTTP GET request to retrieve a list of URLs from a server. The request is made using the $.ajax() function from the jQuery library. The function specifies the URL of the server, the HTTP method to use (GET), the data to send (an empty string), the data type to expect in the response (JSON), and functions to handle the success and error cases of the request. If the request is successful, the function loops through the list of URLs returned by the server and adds them to the table using the addURLToTable() function.
    function getAllAjax(){
        $.ajax({
            // pythonanywhere.com  
            // "url": "/urls",
            "url": "http://127.0.0.1:5000/urls",
            "method":"GET",
            "data":"",
            "dataType": "JSON",
            "success":function(result){
                //console.log(result);
                for (url of result){
                    addURLToTable(url);
                }
                
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });

    }

    // The createURLAjax() function makes an HTTP POST request to create a new URL on the server. It has a similar structure to the getAllAjax() function, but it uses the POST method and sends the data for the new URL as the data parameter. If the request is successful, the function adds the new URL to the table and clears the form.
    function createURLAjax(url){
        console.log(JSON.stringify(url));
        $.ajax({
            // pythonanywhere.com  
            // "url": "/urls",
            "url": "http://127.0.0.1:5000/urls",
            "method":"POST",
            "data":JSON.stringify(url),
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success":function(result){
                //console.log(result);
                url.id = result.id
                addURLToTable(url)
                clearForm()
                showViewAll()
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }

    // The updateURLAjax function that makes an HTTP PUT request to a server at the specified URL with the provided url object as the request body. The url object is converted to a JSON string using JSON.stringify and set as the value for the data field in the request.
    function updateURLAjax(url){
        console.log(JSON.stringify(url));
        $.ajax({
            // pythonanywhere.com  
            // "url": "/urls/"+encodeURI(url.id),
            "url": "http://127.0.0.1:5000/urls/"+encodeURI(url.id),
            "method":"PUT",
            "data":JSON.stringify(url),
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success":function(result){
               // console.log(result);
                  
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }

    // The checkURLAjax function makes a GET request to the server's /check/{id} endpoint, where {id} is the ID of the URL object to be checked. It does not receive any data in the response.
    function checkURLAjax(id){
        $.ajax({
            // pythonanywhere.com  
            // "url": "/check/"+encodeURI(id),
            "url": "http://127.0.0.1:5000/check/"+encodeURI(id),
            "method":"GET",
            "data":"",
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success":function(result){
                console.log(result);
                  
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }
    
    // The deleteURLAjax function makes a DELETE request to the server's /urls/{id} endpoint, where {id} is the ID of the URL object to be deleted. It does not receive any data in the response.
    function deleteURLAjax(id){
        $.ajax({
            // pythonanywhere.com  
            // "url": "/urls/"+encodeURI(id),
            "url": "http://127.0.0.1:5000/urls/"+encodeURI(id),
            "method":"DELETE",
            "data":"",
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success":function(result){
                //console.log(result);
                  
            },
            "error":function(xhr,status,error){
                console.log("error: "+status+" msg:"+error);
            }
        });
    }
    getAllAjax();
    
    </script>
</html>