<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- https://stackoverflow.com/questions/22259847/application-not-picking-up-css-file-flask-python -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
      </head>


	  <!-- https://github.com/PrettyPrinted/youtube_video_code/blob/master/2020/02/10/Creating%20a%20Login%20Page%20in%20Flask%20Using%20Sessions/flask_session_example/templates/login.html -->
    <div class="container">
      <!--Heading 1 for the sections styled with CSS in class "text-center" -->
      <h1 class="container">Login Page</h1>
    </div>
	<body>
		<section class="hero is-info is-fullheight">
		  <div class="hero-body">
			<div class="container">
			  <div class="columns is-centered">
				<div class="column is-half">
				  <form method="POST">
					<div class="field">
					  <label class="label">Username</label>
					  <div class="control has-icons-left has-icons-right">
						<input class="input" type="text" name="username" placeholder="Username">
						<span class="icon is-small is-left">
						  <i class="fas fa-user"></i>
						</span>
					  </div>
					</div>
					<div class="field">
					  <label class="label">Password</label>
					  <p class="control has-icons-left">
						<input class="input" type="password" name="password" placeholder="Password">
						<span class="icon is-small is-left">
						  <i class="fas fa-lock"></i>
						</span>
					  </p>
					</div>
					<div class="field">
					  <p class="control">
						<button type="submit" class="button is-success">
						  Login
						</button>
					  </p>
					</div>
				  </form>
				</div>
			  </div>
			</div>
		  </div>
		</section>
	  </body>
	  
	  </html>