/* <!-- # Data Representation
# Lecturer: Andrew Beatty
# Author: David Ryan
# Student ID: G00398318 --> */

/* The font-family property is applied to the head and body elements, setting the font to "Open Sans" for the entire document. 
The background-color property is also applied to the head and body elements, setting the background color to #00a2ff */
head {
  font-family: "Open Sans", sans-serif;
  background-color: #00a2ff;
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #00a2ff;
  font-size: 16px;
}

/* The container class is applied to a div element and sets the maximum width to 100%, aligns the content to the center, adds padding, and sets the background color to white.
 */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    text-align: center;
}

/* The text-center class is applied to elements and centers the text within them.  */
.text-center {
    text-align: center;
    padding: 8px;
}

/* The h1 class is applied to a heading element and centers the text. */
.h1 {
    text-align: center;
}


/* The wrapper class is applied to an element and sets the background color to #eeeeee (a light gray), justifies the text, and adds padding. */
.wrapper {
    background:#eeeeee;
    text-align:justify;   
    text-align-last:justify;
    -moz-text-align-last:justify;
    padding:3px;
}

/* For the "button" class, the background color is set to lightgreen, the border is removed, the cursor is set to a pointer, 
and the background color will transition over 0.3 seconds when the mouse hovers over the button. 
The border radius is set to 10 pixels and a box shadow is applied. 
The minimum height and width of the button are set to 30 pixels and 120 pixels, respectively. 
When the mouse hovers over the button, the background color will transition to lightcoral over 0.7 seconds. */
.button {
  margin: auto;
  display: block;
  background-color: lightgreen;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius:10px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  min-height:30px; 
  min-width: 120px;
}
.button:hover {
  background-color:lightcoral;
  transition: 0.7s;
}

/* For the "input" and "select" classes, the same style properties are applied, 
with the exception that the background color is set to lightskyblue. 
When the mouse hovers over an element with either of these classes, the background color will transition to lightgray */
.input {
  margin: auto;
  display: block;
  background-color: lightskyblue;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius:10px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  min-height:30px; 
  min-width: 120px;
}
.input:hover {
  background-color:lightgray;
  transition: 0.7s;
}

.select {
  margin: auto;
  display: block;
  background-color: lightskyblue;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius:10px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  min-height:30px; 
  min-width: 120px;
}
.select:hover {
  background-color:lightgray;
  transition: 0.7s;
}


/* https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */
/* Make tables nice */
.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}